<footer>
  <div class="footer-container">
    <div class="footer-logo">
      <img src="/logo.png" alt="Building Supply BFF">
    </div>
  </div>
  <div class="footer-info">
    <span>Building Supply BFF</span>
    <span>570 Lake Cook Rd, Ste 300 #505</span>
    <span>Deerfield, IL, 60015</span>
    <span>Phone: <a href="tel:7209028057">720-902-8057</a></span>
    <span>Email: <a href="mailto:orders@buildingsupplybff.com">orders@buildingsupplybff.com</a></span>
  </div>
</footer>
