<div class="item-container">
  <div class="item-header invert-colors">
    <div class="item-header-cell">
      <div class="item-header-label cell">Sales Amount</div>
      <div class="item-header-value"><%= getOrderTotal(lineItems) %> USD</div>
    </div>
    <div class="item-header-cell">
      <div class="item-header-label cell">Shipping Charges</div>
      <div class="item-header-value">0</div>
    </div>
    <div class="item-header-cell">
      <div class="item-header-label cell">Sales Tax</div>
      <div class="item-header-value">0</div>
    </div>
    <div class="item-header-cell">
      <div class="item-header-label cell">Misc. Charges</div>
      <div class="item-header-value">0</div>
    </div>
    <div class="item-header-cell">
      <div class="item-header-label cell">Total Amount</div>
      <div class="item-header-value"><%= getOrderTotal(lineItems) %> USD</div>
    </div>
  </div>
</div>